 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login - SimNet</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../../../static/css/User/recharge_history.css" />
</head>
<body>
    
    <div class="recharge-his">
  <div class="recharge-history">
    <div class="purchases">
      <div class="faq">
        <div class="homepage-0">
          <div class="rectangle-1729"></div>
          <div class="view-more-courses">view more courses</div>
          <img class="rectangle-39" src="rectangle-390.svg" />
          <img class="rectangle-42" src="rectangle-420.svg" />
          <div class="rectangle-87"></div>
          <div class="rectangle-1728"></div>
          <div class="services">
            <div class="search-box">
              <div class="div">
                <img class="div2" src="div1.svg" />
              </div>
              <div class="search-for-services">
                <span>
                  <span class="search-for-services-span">Search</span>
                  <span class="search-for-services-span2">for services</span>
                </span>
              </div>
            </div>
            <div class="name-service">
              <div class="_1-select-service">1. Select service</div>
              <div class="component-9">
                <div class="component-7"></div>
                <div class="component-8">
                  <div class="sort-low-to-high">
                    <span>
                      <span class="sort-low-to-high-span">Sort:</span>
                      <span class="sort-low-to-high-span2">Low to High</span>
                    </span>
                  </div>
                  <img class="vector" src="vector0.svg" />
                </div>
              </div>
            </div>
            <div class="all-services">
              <div class="service">
                <img class="add" src="add0.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector2" src="vector1.svg" />
              </div>
              <div class="service">
                <img class="component-22" src="component-220.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector3" src="vector2.svg" />
              </div>
              <div class="service">
                <img class="component-222" src="component-221.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector4" src="vector3.svg" />
              </div>
              <div class="service">
                <img class="component-223" src="component-222.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector5" src="vector4.svg" />
              </div>
            </div>
            <div class="show-all">
              <div class="show-all-259">Show all (259)</div>
              <img class="vector6" src="vector5.svg" />
            </div>
            <div class="rectangle-1731"></div>
          </div>
          <div class="select-country">
            <div class="select-country2">
              <div class="search-box2">
                <div class="div">
                  <img class="div3" src="div3.svg" />
                </div>
                <div class="search-for-services">
                  <span>
                    <span class="search-for-services-span">Search</span>
                    <span class="search-for-services-span2">for services</span>
                  </span>
                </div>
              </div>
              <div class="show-all">
                <div class="show-all-259">Show all (259)</div>
                <img class="vector7" src="vector6.svg" />
              </div>
              <div class="name-service2">
                <div class="_2-select-country">2. Select Country</div>
                <div class="sort">
                  <div class="sort2"></div>
                  <div class="sort3">
                    <div class="sort-alphabet">
                      <span>
                        <span class="sort-alphabet-span">Sort:</span>
                        <span class="sort-alphabet-span2">alphabet</span>
                      </span>
                    </div>
                    <img class="vector8" src="vector7.svg" />
                  </div>
                </div>
              </div>
              <div class="country">
                <div class="country2">
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan"
                      src="country-flags-asia-japan0.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector10" src="vector9.svg" />
                  <img class="have" src="have0.svg" />
                </div>
                <div class="country2">
                  <img class="add2" src="add1.svg" />
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan2"
                      src="country-flags-asia-japan1.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector11" src="vector11.svg" />
                </div>
                <div class="country2">
                  <img class="add3" src="add2.svg" />
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan3"
                      src="country-flags-asia-japan2.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector12" src="vector13.svg" />
                </div>
                <div class="country2">
                  <img class="add4" src="add3.svg" />
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan4"
                      src="country-flags-asia-japan3.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector13" src="vector15.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="my-project">
            <div class="select-project">
              <div class="search-box3">
                <div class="div">
                  <img class="div4" src="div5.svg" />
                </div>
                <div class="search-for-services">
                  <span>
                    <span class="search-for-services-span">Search</span>
                    <span class="search-for-services-span2">for services</span>
                  </span>
                </div>
              </div>
              <div class="show-all2"></div>
              <div class="name-service3">
                <div class="_2-select-country">
                  <ol class="_2-select-country-span2">
                    <li>My project</li>
                  </ol>
                </div>
                <div class="sort">
                  <div class="sort2"></div>
                  <div class="sort3">
                    <div class="sort-alphabet">
                      <span>
                        <span class="sort-alphabet-span">Sort:</span>
                        <span class="sort-alphabet-span2">alphabet</span>
                      </span>
                    </div>
                    <img class="vector14" src="vector16.svg" />
                  </div>
                </div>
              </div>
              <div class="input"></div>
              <div class="component-224">
                <div class="add-project">
                  <div class="form">
                    <div class="text-wrap">
                      <div class="my-project2">My Project</div>
                    </div>
                    <img
                      class="keyboard-arrow-up"
                      src="keyboard-arrow-up0.svg"
                    />
                  </div>
                  <div class="button">
                    <div class="caption">Add Project</div>
                  </div>
                </div>
                <div class="form2">
                  <div class="text-wrap">
                    <div class="specify-area-code">Specify area code</div>
                  </div>
                  <img
                    class="keyboard-arrow-up2"
                    src="keyboard-arrow-up1.svg"
                  />
                </div>
              </div>
            </div>
            <div class="collection-method">
              <div class="collection-method2">
                Collection method
                <br />
              </div>
              <div class="collection-method3">
                <div class="radio">
                  <div class="icon">
                    <div class="ellipse-4"></div>
                  </div>
                  <div class="checked-radio"> Default number</div>
                </div>
                <div class="radio2">
                  <div class="icon">
                    <div class="ellipse-42"></div>
                  </div>
                  <div class="checked-radio">Designated number</div>
                </div>
              </div>
              <div class="search-box4">
                <div class="enter-number-designated">
                  enter number designated
                </div>
              </div>
            </div>
            <div class="button2">
              <div class="caption">GET NUMBER</div>
            </div>
          </div>
          <img class="rectangle-1730" src="rectangle-17300.svg" />
          <div class="rectangle-17312"></div>
          <div class="sms-deliver">SMS deliver</div>
          <div class="component-25">
            <div class="rectangle-1732"></div>
            <img class="vector-4" src="vector-40.svg" />
          </div>
          <div class="footer">
            <div class="rectangle-1737"></div>
            <div class="info-block">
              <div class="company-details-icon">
                <div class="title">
                  <span>
                    <span class="title-span">SMS</span>
                    <span class="title-span2"></span>
                    <span class="title-span">SimNet</span>
                  </span>
                </div>
                <div class="social-media-icon">
                  <img class="icon-color" src="icon-color0.svg" />
                  <img class="icon-color2" src="icon-color1.svg" />
                  <img class="icon-color3" src="icon-color2.svg" />
                  <img class="icon-color4" src="icon-color3.svg" />
                  <img class="icon-color5" src="icon-color4.svg" />
                </div>
                <div class="address-123-654-987-877-the-bronx-ny-14568-usa">
                  <span>
                    <span
                      class="address-123-654-987-877-the-bronx-ny-14568-usa-span"
                    >
                      Address
                      <br />
                    </span>
                    <span
                      class="address-123-654-987-877-the-bronx-ny-14568-usa-span2"
                    >
                      +123 654 987
                      <br />
                      877 The Bronx, NY
                      <br />
                      14568, USA
                    </span>
                  </span>
                </div>
              </div>
              <div class="info">
                <div class="my-account">My Account</div>
                <div class="sign-in-register-order-status">
                  Sign in
                  <br />
                  Register
                  <br />
                  Order status
                </div>
              </div>
              <div class="info2">
                <div class="help">Help</div>
                <div class="shipping-returns-sizing">
                  Shipping
                  <br />
                  Returns
                  <br />
                  Sizing
                </div>
              </div>
              <div class="info3">
                <div class="shop">Shop</div>
                <div class="all-products-bedroom-dinning-room">
                  All Products
                  <br />
                  Bedroom
                  <br />
                  Dinning Room
                  <br />
                </div>
              </div>
              <div class="info4">
                <div class="legal-stuff">Legal Stuff</div>
                <div class="shipping-delivery-terms-conditions-privacy-policy">
                  Shipping &amp; Delivery
                  <br />
                  Terms &amp; Conditions
                  <br />
                  Privacy &amp; Policy
                </div>
              </div>
            </div>
            <div class="rectangle-1738"></div>
          </div>
          <div class="b-k">
            <div class="breadcumb">
              <div class="home-1-1">
                <img class="group" src="group0.svg" />
              </div>
              <img class="vector15" src="vector17.svg" />
              <div class="categories">Home</div>
              <img class="vector16" src="vector18.svg" />
              <div class="vegetables">Purchases</div>
            </div>
          </div>
          <div class="narbar-login"></div>
          <div class="navbar">
            <div class="menu">
              <div class="component-2">
                <div class="nav-item">
                  <div class="text">Home</div>
                  <img class="line" src="line0.svg" />
                </div>
                <div class="nav-item2">
                  <div class="text2">FAQ</div>
                  <img class="line2" src="line1.svg" />
                </div>
                <div class="nav-item3">
                  <div class="text3">API</div>
                  <img class="line3" src="line2.svg" />
                </div>
                <div class="nav-item4">
                  <div class="text3">How to buy?</div>
                  <img class="line4" src="line3.svg" />
                </div>
                <div class="nav-item5">
                  <div class="text3">Free</div>
                  <img class="line5" src="line4.svg" />
                </div>
              </div>
              <div class="component-1">
                <div class="button3">
                  <div class="caption2">Purchases</div>
                </div>
                <div class="button4">
                  <div class="caption2">Sign up</div>
                </div>
              </div>
            </div>
            <div class="rectangle-86"></div>
            <img class="rectangle-1740" src="rectangle-17400.png" />
            <div class="profile">
              <div class="icon-account">
                <img class="account-2" src="account-20.svg" />
              </div>
              <img class="vector17" src="vector19.svg" />
            </div>
            <img class="image" src="image0.png" />
          </div>
          <div class="title2">
            <div class="rectangle-88"></div>
            <div class="title3">Virtual Numbers for Receiving SMS Codes</div>
            <div class="title4">
              <span>
                <span class="title-4-span">SMS</span>
                <span class="title-4-span2">SimNet</span>
              </span>
            </div>
          </div>
        </div>
        <div class="faqques">
          <div class="rectangle-1741"></div>
          <div class="faq-ques">
            <div class="purchases2">Purchases</div>
            <div class="recharge">Recharge</div>
            <div class="history">History</div>
            <div class="rectangle-4170"></div>
          </div>
          <div class="faq-ques">
            <div class="purchases2">Purchases</div>
            <div class="recharge">Recharge</div>
            <div class="history">History</div>
            <div class="rectangle-4170"></div>
          </div>
          <div class="faq-ques">
            <div class="purchases2">Purchases</div>
            <div class="recharge">Recharge</div>
            <div class="history">History</div>
            <div class="rectangle-4170"></div>
          </div>
          <div class="connect">
            <div class="button5">
              <div class="caption3">Support</div>
            </div>
            <div class="connect2">
              <div class="frame-225">
                <img class="x" src="x0.svg" />
              </div>
              <div class="frame-226">
                <img class="telegram" src="telegram0.svg" />
              </div>
              <div class="frame-224">
                <img class="discord" src="discord0.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq">
        <div class="homepage-0">
          <div class="rectangle-1729"></div>
          <div class="view-more-courses">view more courses</div>
          <img class="rectangle-392" src="rectangle-391.svg" />
          <img class="rectangle-422" src="rectangle-421.svg" />
          <div class="rectangle-87"></div>
          <div class="rectangle-1728"></div>
          <div class="services">
            <div class="search-box">
              <div class="div">
                <img class="div5" src="div7.svg" />
              </div>
              <div class="search-for-services">
                <span>
                  <span class="search-for-services-span">Search</span>
                  <span class="search-for-services-span2">for services</span>
                </span>
              </div>
            </div>
            <div class="name-service">
              <div class="_1-select-service">1. Select service</div>
              <div class="component-9">
                <div class="component-7"></div>
                <div class="component-8">
                  <div class="sort-low-to-high">
                    <span>
                      <span class="sort-low-to-high-span">Sort:</span>
                      <span class="sort-low-to-high-span2">Low to High</span>
                    </span>
                  </div>
                  <img class="vector18" src="vector20.svg" />
                </div>
              </div>
            </div>
            <div class="all-services">
              <div class="service">
                <img class="add5" src="add4.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector19" src="vector21.svg" />
              </div>
              <div class="service">
                <img class="component-225" src="component-224.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector20" src="vector22.svg" />
              </div>
              <div class="service">
                <img class="component-226" src="component-225.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector21" src="vector23.svg" />
              </div>
              <div class="service">
                <img class="component-227" src="component-226.svg" />
                <div class="price">
                  <div class="_21-267-numbers">21 267 numbers</div>
                  <div class="from-1-90">from $1.90</div>
                </div>
                <div class="rectangle-44"></div>
                <div class="already-use-43-435">already use(43,435)</div>
                <div class="vietnam">Amazon</div>
                <img class="vector22" src="vector24.svg" />
              </div>
            </div>
            <div class="show-all">
              <div class="show-all-259">Show all (259)</div>
              <img class="vector23" src="vector25.svg" />
            </div>
            <div class="rectangle-1731"></div>
          </div>
          <div class="select-country">
            <div class="select-country2">
              <div class="search-box2">
                <div class="div">
                  <img class="div6" src="div9.svg" />
                </div>
                <div class="search-for-services">
                  <span>
                    <span class="search-for-services-span">Search</span>
                    <span class="search-for-services-span2">for services</span>
                  </span>
                </div>
              </div>
              <div class="show-all">
                <div class="show-all-259">Show all (259)</div>
                <img class="vector24" src="vector26.svg" />
              </div>
              <div class="name-service2">
                <div class="_2-select-country">2. Select Country</div>
                <div class="sort">
                  <div class="sort2"></div>
                  <div class="sort3">
                    <div class="sort-alphabet">
                      <span>
                        <span class="sort-alphabet-span">Sort:</span>
                        <span class="sort-alphabet-span2">alphabet</span>
                      </span>
                    </div>
                    <img class="vector25" src="vector27.svg" />
                  </div>
                </div>
              </div>
              <div class="country">
                <div class="country2">
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan5"
                      src="country-flags-asia-japan4.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector26" src="vector29.svg" />
                  <img class="have2" src="have1.svg" />
                </div>
                <div class="country2">
                  <img class="add6" src="add5.svg" />
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan6"
                      src="country-flags-asia-japan5.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector27" src="vector31.svg" />
                </div>
                <div class="country2">
                  <img class="add7" src="add6.svg" />
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan7"
                      src="country-flags-asia-japan6.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector28" src="vector33.svg" />
                </div>
                <div class="country2">
                  <img class="add8" src="add7.svg" />
                  <div class="vector9"></div>
                  <div class="country3">
                    <img
                      class="country-flags-asia-japan8"
                      src="country-flags-asia-japan7.svg"
                    />
                    <div class="afghanistan">Afghanistan</div>
                  </div>
                  <div class="rectangle-44"></div>
                  <img class="vector29" src="vector35.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="my-project">
            <div class="select-project">
              <div class="search-box3">
                <div class="div">
                  <img class="div7" src="div11.svg" />
                </div>
                <div class="search-for-services">
                  <span>
                    <span class="search-for-services-span">Search</span>
                    <span class="search-for-services-span2">for services</span>
                  </span>
                </div>
              </div>
              <div class="show-all2"></div>
              <div class="name-service3">
                <div class="_2-select-country">
                  <ol class="_2-select-country-span2">
                    <li>My project</li>
                  </ol>
                </div>
                <div class="sort">
                  <div class="sort2"></div>
                  <div class="sort3">
                    <div class="sort-alphabet">
                      <span>
                        <span class="sort-alphabet-span">Sort:</span>
                        <span class="sort-alphabet-span2">alphabet</span>
                      </span>
                    </div>
                    <img class="vector30" src="vector36.svg" />
                  </div>
                </div>
              </div>
              <div class="input"></div>
              <div class="component-224">
                <div class="add-project">
                  <div class="form">
                    <div class="text-wrap">
                      <div class="my-project2">My Project</div>
                    </div>
                    <img
                      class="keyboard-arrow-up3"
                      src="keyboard-arrow-up2.svg"
                    />
                  </div>
                  <div class="button">
                    <div class="caption">Add Project</div>
                  </div>
                </div>
                <div class="form2">
                  <div class="text-wrap">
                    <div class="specify-area-code">Specify area code</div>
                  </div>
                  <img
                    class="keyboard-arrow-up4"
                    src="keyboard-arrow-up3.svg"
                  />
                </div>
              </div>
            </div>
            <div class="collection-method">
              <div class="collection-method2">
                Collection method
                <br />
              </div>
              <div class="collection-method3">
                <div class="radio">
                  <div class="icon">
                    <div class="ellipse-4"></div>
                  </div>
                  <div class="checked-radio"> Default number</div>
                </div>
                <div class="radio2">
                  <div class="icon">
                    <div class="ellipse-42"></div>
                  </div>
                  <div class="checked-radio">Designated number</div>
                </div>
              </div>
              <div class="search-box4">
                <div class="enter-number-designated">
                  enter number designated
                </div>
              </div>
            </div>
            <div class="button2">
              <div class="caption">GET NUMBER</div>
            </div>
          </div>
          <img class="rectangle-17302" src="rectangle-17301.svg" />
          <div class="rectangle-17312"></div>
          <div class="sms-deliver">SMS deliver</div>
          <div class="component-25">
            <div class="rectangle-1732"></div>
            <img class="vector-42" src="vector-41.svg" />
          </div>
          <div class="footer">
            <div class="rectangle-1737"></div>
            <div class="info-block">
              <div class="company-details-icon">
                <div class="title">
                  <span>
                    <span class="title-span">SMS</span>
                    <span class="title-span2"></span>
                    <span class="title-span">SimNet</span>
                  </span>
                </div>
                <div class="social-media-icon">
                  <img class="icon-color6" src="icon-color5.svg" />
                  <img class="icon-color7" src="icon-color6.svg" />
                  <img class="icon-color8" src="icon-color7.svg" />
                  <img class="icon-color9" src="icon-color8.svg" />
                  <img class="icon-color10" src="icon-color9.svg" />
                </div>
                <div class="address-123-654-987-877-the-bronx-ny-14568-usa">
                  <span>
                    <span
                      class="address-123-654-987-877-the-bronx-ny-14568-usa-span"
                    >
                      Address
                      <br />
                    </span>
                    <span
                      class="address-123-654-987-877-the-bronx-ny-14568-usa-span2"
                    >
                      +123 654 987
                      <br />
                      877 The Bronx, NY
                      <br />
                      14568, USA
                    </span>
                  </span>
                </div>
              </div>
              <div class="info">
                <div class="my-account">My Account</div>
                <div class="sign-in-register-order-status">
                  Sign in
                  <br />
                  Register
                  <br />
                  Order status
                </div>
              </div>
              <div class="info2">
                <div class="help">Help</div>
                <div class="shipping-returns-sizing">
                  Shipping
                  <br />
                  Returns
                  <br />
                  Sizing
                </div>
              </div>
              <div class="info3">
                <div class="shop">Shop</div>
                <div class="all-products-bedroom-dinning-room">
                  All Products
                  <br />
                  Bedroom
                  <br />
                  Dinning Room
                  <br />
                </div>
              </div>
              <div class="info4">
                <div class="legal-stuff">Legal Stuff</div>
                <div class="shipping-delivery-terms-conditions-privacy-policy">
                  Shipping &amp; Delivery
                  <br />
                  Terms &amp; Conditions
                  <br />
                  Privacy &amp; Policy
                </div>
              </div>
            </div>
            <div class="rectangle-1738"></div>
          </div>
          <div class="b-k">
            <div class="breadcumb">
              <div class="home-1-1">
                <img class="group2" src="group1.svg" />
              </div>
              <img class="vector31" src="vector37.svg" />
              <div class="categories">Home</div>
              <img class="vector32" src="vector38.svg" />
              <div class="vegetables">Recharge</div>
            </div>
          </div>
          <div class="narbar-login"></div>
          <div class="navbar">
            <div class="menu">
              <div class="component-2">
                <div class="nav-item">
                  <div class="text">Home</div>
                  <img class="line6" src="line5.svg" />
                </div>
                <div class="nav-item2">
                  <div class="text2">FAQ</div>
                  <img class="line7" src="line6.svg" />
                </div>
                <div class="nav-item3">
                  <div class="text3">API</div>
                  <img class="line8" src="line7.svg" />
                </div>
                <div class="nav-item4">
                  <div class="text3">How to buy?</div>
                  <img class="line9" src="line8.svg" />
                </div>
                <div class="nav-item5">
                  <div class="text3">Free</div>
                  <img class="line10" src="line9.svg" />
                </div>
              </div>
              <div class="component-1">
                <div class="button3">
                  <div class="caption2">Purchases</div>
                </div>
                <div class="button4">
                  <div class="caption2">Recharge</div>
                </div>
              </div>
            </div>
            <div class="rectangle-86"></div>
            <img class="rectangle-1740" src="rectangle-17401.png" />
            <div class="profile">
              <div class="icon-account">
                <img class="account-22" src="account-21.svg" />
              </div>
              <img class="vector33" src="vector39.svg" />
            </div>
            <img class="image" src="image1.png" />
          </div>
          <div class="title2">
            <div class="rectangle-88"></div>
            <div class="title3">Virtual Numbers for Receiving SMS Codes</div>
            <div class="title4">
              <span>
                <span class="title-4-span">SMS</span>
                <span class="title-4-span2">SimNet</span>
              </span>
            </div>
          </div>
        </div>
        <div class="faqques">
          <div class="rectangle-1741"></div>
          <div class="faq-ques">
            <div class="recharge2">Recharge</div>
          </div>
          <div class="faq-ques"></div>
          <div class="faq-ques">
            <div class="method">
              <div class="rectangle-6708"></div>
              <div class="rectangle-6709"></div>
              <div class="method2">
                <div class="recharge3">Recharge</div>
                <div class="history2">History</div>
              </div>
            </div>
            <div class="search-box5">
              <div class="div">
                <img class="div8" src="div13.svg" />
              </div>
              <div class="search-for-services">
                <span>
                  <span class="search-for-services-span">Search</span>
                  <span class="search-for-services-span2">for services</span>
                </span>
              </div>
            </div>
          </div>
          <div class="connect">
            <div class="button5">
              <div class="caption3">Support</div>
            </div>
            <div class="connect2">
              <div class="frame-225">
                <img class="x2" src="x1.svg" />
              </div>
              <div class="frame-226">
                <img class="telegram2" src="telegram1.svg" />
              </div>
              <div class="frame-224">
                <img class="discord2" src="discord1.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
    
    <!-- Bootstrap JS Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>